<h1>Office365</h1>

<% if current_user %>
  <%= link_to 'OneDrive', directory_path %>
  <!-- <%= link_to 'Close', nil, onclick: 'window.close()' %> -->
<% else %>
  <%= link_to 'Sign in with Office365', '/auth/office365', target: '_blank' %>
  <!-- <%= link_to 'Refresh', nil %> -->
<% end %>
