<h1><%= link_to 'OneDrive', directory_path %></h1>
<%= link_to 'Back', :back %>
<%= content_tag :ul do -%>
  <% @directory['value'].each do |item| -%>
    <%= content_tag :li do -%>
      <% if item['folder'] -%>
        /<%= link_to item['name'], directory_path(item['id']) %>
      <% else -%>
        <%= link_to item['name'], download_path(item['id']) %>
      <% end -%>
      <%= link_to 'Open in Office365', item['webUrl'], target: '_blank' %>
    <% end -%>
    <!-- <pre><%= JSON.pretty_generate(item) %></pre> -->
  <% end -%>
<% end -%>
