<!DOCTYPE html>
<html>
<head>
  <title>LtiOffice365</title>
  <%= stylesheet_link_tag    'lti_office365/application', media: 'all' %>
  <%= javascript_include_tag 'lti_office365/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<% if current_user %>
  <%= current_user.email %> (<%= link_to 'Logout', logout_path, method: :delete %>)
<% end %>

<%= yield %>

</body>
</html>
